<div class="row">
  <div class="col-md-12">
    <div id="accordion">
      <div class="panel panel-default">

        <div class="panel-heading">
          <h2 class="panel-title"><%= t('.title') %></h2>
          <div>Recent activity</div>
        </div>

        <div class="panel-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th><%= t('.collection_title') %></th>
                <th><%= t('.last_updated') %></th>
                <th><%= t('.works') %></th>
                <th><%= t('.files') %></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
             <% @collections.each do |collection| %>
                <tr>
                  <td><%= collection %></td>
                  <td><%= collection.modified_date.strftime("%Y-%m-%d") %></td>
                  <td><%= collection.member_works.count %></td>
                  <td><%= collection.total_file_sets %></td>
                  <td>
                    <% pinned = collection.pinned?(current_user.id) %>
                    <%= link_to user_pinned_collection_path(collection.id, user_id: current_user.id), method: :delete, id: "unpin-#{collection.id}", class: "#{pinned ? '' : 'hide'}" do %>
                     <i class="fa fa-star fa-2x" aria-hidden="true"></i> 
                    <% end %>
                    <%= link_to user_pinned_collections_path(collection_id: collection.id, user_id: current_user.id), method: :post, id: "pin-#{collection.id}", class: "#{pinned ? 'hide' : '' }" do %>
                      <i class="fa fa-star-o fa-2x" aria-hidden="true"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>