<% provide :page_header do %>
  <h1><%= t("hyrax.dashboard.title") %></h1>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title"><%= t(".graph_reports") %>:</h2>
        <%= params[:start_date].present? ? params[:start_date].to_date : 1.month.ago.beginning_of_day.to_date %> <b>to</b>
        <%= params[:end_date].present? ? params[:end_date].to_date : Time.zone.now.end_of_day.to_date %>
      </div>
      <div class="panel-body">
        <%= render "hyrax/admin/analytics/date_range_form", redirect_path: hyrax.dashboard_path %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <%= render 'user_activity' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <%= render 'repository_growth' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <%= render 'visibility_graph' %>
  </div>
  <div class="col-md-4">
    <%= render 'work_type_graph' %>
  </div>
  <div class="col-md-4">
    <%= render "resource_type_graph" %>
  </div>
</div>
<br>
<br>
<%= render 'tabs' %>
