<script>
  Morris.Bar({
      element: 'downloads',
      data: [
        <% @downloads.list.take(30).reverse.each do |result| %>
          { date: "<%= result[0] %>", metric: <%= result[1] %>},
        <% end %>
      ],  
      xkey: 'date',
      ykeys: ['metric'],
      labels: ['Downloads'],
      gridTextSize: '12px',
      gridLineColor: '#E5E5E5',
      gridIntegers: true,
      ymin: 0,
      resize: true
    });
</script>