<!-- Adapted from jquery-flot examples https://github.com/flot/flot/blob/master/examples/visitors/index.html -->
<script>
//<![CDATA[
  var hyrax_item_stats = <%= raw json_escape @pageviews.to_flot.to_json %>;
//]]>
</script>

<%= content_tag :h1, @document, class: "lower" %>

<div class="row">
  <div class="col-sm-12">
    <%= content_tag :h2, "Work Analytics" %>
    <div class="alert alert-info">
      <span class="glyphicon glyphicon-signal large-icon"></span>
      <%= content_tag :strong, pluralize(@pageviews.range(Hyrax.config.analytics_start_date.to_date, Time.zone.today), 'total view') %> and
      <%= content_tag :strong, pluralize(@downloads.range(Hyrax.config.analytics_start_date.to_date, Time.zone.today), 'download') %> 
    </div>

    <div class="stats-container">
      <h3 class="text-center">Pageviews</h3>
      <div id="pageviews">
        <%= render 'pageviews' %>
      </div>
    </div>

    <div class="stats-container">
      <h3 class="text-center">Downloads</h3>
      <div id="downloads">
        <%= render 'downloads' %>
      </div>
    </div>

  </div>
</div>
