# frozen_string_literal: true
class CreateUserPinnedCollections < ActiveRecord::Migration<%= migration_version %>
  def change
    create_table :user_pinned_collections do |t|
      t.integer :user_id, null: false
      t.string :collection_id, null: false

      t.timestamps
    end
    add_index :user_pinned_collections, :user_id
    add_index :user_pinned_collections, :collection_id
  end
end
