<% provide :page_title, "#{t('.title')}" %>

<% provide :page_header do %>
  <h1><span class="fa fa-bar-chart" aria-hidden="true"></span><%= t('.title') %></h1>
<% end %>

<div class="row">
  <div class="col-sm-12">
    <div class="work-reports">

    <div class="panel panel-default">
    <% if Hyrax.config.analytics == true %>
      <% if current_user.ability.admin? %>
        <div class="panel-heading"><b><%= @works_count %> <%= t('.works') %></b> <%= t('.repo_summary') %> <b><%= @pageviews.all if @pageviews %> <%= t('.views') %></b> <%= t('.and') %> <b><%= @downloads.all if @downloads %> <%= t('.downloads') %></b>.</div>
      <% else %>
        <div class="panel-heading"><%= t('.access_to') %> <b><%= @works_count %> <%= t('.works') %></b>.</div>
      <% end %>
        <div class="panel-body">
              <% if current_user.ability.admin? %>
              <div class="row text-center">
                <div class="nav nav-pills btn-group" role="group">
                    <% if params[:start_date] %>
                     <a button id='summary-btn' class="btn btn-default nav-link" type="button" href="#summary" data-toggle="pill">
                    <% else %>
                     <a button id='summary-btn' class="btn btn-primary nav-link" type="button" href="#summary" data-toggle="pill">
                    <% end %>
                        <%= t('.summary') %>
                     </a>
                      <a button id='monthly-btn' class="btn btn-default nav-link" type="button" href="#monthly" data-toggle="pill">
                        <%= t('.monthly') %>
                      </a>
                    <% if params[:start_date] %>
                      <a button id='range-btn' class="btn btn-primary nav-link" type="button" href="#custom-range" data-toggle="pill">
                    <% else %>
                      <a button id='range-btn' class="btn btn-default nav-link" type="button" href="#custom-range" data-toggle="pill">
                    <% end %>
                        <%= t('.custom_range') %>
                      </a>
                </div>
              </div>
              <br>
              <div class="tab-content">
              <% if params[:start_date] %>
                <div class="tab-pane" id="summary">
              <% else %>
                <div class="tab-pane active" id="summary">
              <% end %>
                  <%= render "summary" %>
                </div>
                <div class="tab-pane" id="monthly">
                  <%= render "monthly_summary" %>
                </div>
                 <% if params[:start_date] %>
                   <div class="tab-pane active" id="custom-range">
                <% else %>
                  <div class="tab-pane" id="custom-range">
                <% end %>
                   <%= render "hyrax/admin/analytics/date_range_form", redirect_path: hyrax.admin_analytics_work_reports_path %>
                  <%= render "custom_range" %>
                 </div>
              </div>
              <% end %>
            </div>
          </div>
          <p class="text-center"><%= t('.report_generated_on') %> <b><%= Time.zone.today.strftime("%B %d, %Y") %></b></p>

        </div>

      </div>
      <% else %>
        <div class="alert alert-warning" role="alert">
          <%= t('.enable_analytics') %>
        </div>
     <% end %>
    </div>
  </div>
</div>
