<%= csrf_meta_tag %>
<meta charset="utf-8" />
<%# Only display meta tag, which enables creation of the ActionCable
consumer, when realtime notifications are enabled and the user is
signed in %>
<% if Hyrax.config.realtime_notifications? && signed_in? %>
    <%= tag :meta, name: 'current-user', data: { user_key: current_user.user_key } %>
<% end %>
<!-- added for use on small devices like phones -->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="resourcesync" href="<%= hyrax.capability_list_url %>" />

<!-- Twitter card metadata -->
<%= yield :twitter_meta %>
<!-- Google Scholar metadata -->
<%= yield :gscholar_meta %>

<title><%= content_for?(:page_title) ? yield(:page_title) : default_page_title %></title>

<!-- application css -->
<%= stylesheet_link_tag 'application' %>

<!-- application js -->
<%= javascript_include_tag 'application' %>

<%= render 'shared/appearance_styles' %>

<% if Hyrax.config.analytics_provider == 'google' %>
  <!-- Google Analytics -->
  <%= render partial: 'shared/ga', formats: [:html]  %>
  <!-- End Google Analytics -->
<% elsif Hyrax.config.analytics_provider == 'matomo' %>
  <!-- Matomo Analytics -->
  <%= render partial: 'shared/matomo', formats: [:html] %>
  <!-- End Matomo Analytics -->
<% end %>

<!-- for extras, e.g., a favicon -->
<%= render partial: '/head_tag_extras', formats: [:html] %>
